<div class="side-bar-header">
<div class="side-header-left">
<a href="#">相手のユーザー名<br>詳細ページリンク</a>

</div>
<div class="side-header-right">
<a href="#">声をかけてみよう</a>
</div>
</div>

<div class="rooms">
<div class="room-name">コミュニケーションルーム</div>
<div class="manual">さあ、新しい出会いを楽しもう!<br>まず、挨拶から始めてみよう。
<br>きっと楽しい未来が待っているよ！</div>
</div>