<header class='second-header'>
  <%= link_to image_tag("furima-logo-color.png", class:"second-logo"), "/" %>
</header>

<div class="wrapper">
<%= render "side_bar" %>
<%= render "main_chat" %>
</div>

<%= render "shared/second-footer"%>